header {
    height: 100px;
    background-color: #333333;
    font-weight: bold;
    color: snow;
    font-size: 25px;
    padding-top: 25px;
    text-align: center;
}

#searchDiv {
    margin-right: 5px;
    height: 700px;
    width : 400px;
    background-color: #e6e6e6;
}

.searchTitle {
    width: 100px;
    color: black;
}

#displayDiv {
    height: 650px;
    width: 100%;
    float: right;
    background-color:   slateblue;
}

.searchBtn {
    color:black;
    background-color: chocolate;
    font-weight: bold;
    padding: 2px;
}
#list {
    width: 100%;
}
.cityItem{
    border-bottom-style: dashed;
    border-bottom-width: 2px;
    margin-bottom: 5px;
}
